<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" rel="stylesheet">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="container-fluid">
    <a class="navbar-brand" href="#"><b><i class="bi bi-bezier2"></i> REAM</b></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <a class="nav-link active" href="#/oas">Objetivos de Aprendizaje</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#/tms">Tareas Matemáticas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#/actividades">Actividades</a>
        </li>
        </ul>
        <ul class="navbar-nav ms-auto">
            <li class="nav-item" style="color: white;align-items: center; display: flex;">
              <i class="bi bi-person-fill"></i> {{ usersService.getNombreUsuario() }}
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="#/logout"><i class="bi bi-box-arrow-in-left"></i> Cerrar Sesión</a>
            </li>
        </ul>
    </div>
    </div>
</nav>
<div class="container">
  <div *ngIf="loadingVisible">
    <mat-spinner class="center"></mat-spinner>
  </div>
    <br />
    <div class="row">
        <div class="col-md-6">
            <h1><b>Asociar Objetivos de Aprendizaje</b></h1>
        </div>
    </div>
    <br />
    <form class="custom-form mx-auto" method="post">
    <div class="row">
            <div class="col-md-6">
                El OA<br />
                <mat-radio-group
                  aria-labelledby="example-radio-group-label"
                  class="example-radio-group" >
                  <mat-radio-button class="example-radio-button" [value]="id" [checked]="true">
                    {{oaInicial.codigo}} -  {{oaInicial.descripcion}}
                  </mat-radio-button>
                </mat-radio-group><br />
                <span class="col-md-2"><b>se asociará con...</b></span>
            </div>
            <div class="col-md-6" *ngIf="asociarVisible === true">
                Seleccione los OA a asociar con el OA Inicial<br />
                <input type="text" name="search" id="search" [ngModel]="searchText2" (ngModelChange)="searchKey2($event)" placeholder="Filtrar lista de OAs..." ngModel>
                <div *ngFor="let o of oasFiltrados2; let idx = index" class="col-md-11">
                    <label *ngIf="idx < 12">
                      <mat-checkbox [value]="o.id" (change)="onCheckOaChange($event)" />
                      {{o.codigo}} -  {{o.descripcion}}
                    </label>
                  </div>
            </div>
    </div>
    <div class="row">
      <b>Este es un ejemplo de como se visualizaría esta asociación en el mapa:</b><br />
      <div class="col-md-2">
        <div class="cuadrito-mapa">
          <b>{{oaInicial.codigo}}</b>
        </div>
      </div><br />
      <div class="row">
        <div class="col-md-2" *ngFor="let o of oasSeleccionados;">
        <div class="col-md-2 offset-md-5">
          <h1>&darr;</h1>
        </div>
        <div class="cuadrito-mapa">
          <b>{{o.codigo}}</b>
        </div><br />
      </div>
      </div>
        
    </div>
    <div class="row">
      <div class="col-md-6">
        <button class="btn btn-dark float-end" type="submit" (click)="guardarOas()"><i class="bi bi-save"></i> Guardar OA</button>
      </div>
      <div class="col-md-6">
        <button mat-button mat-dialog-close class="btn btn-danger" type="button" (click)="cancelar()"><i class="bi bi-x"></i> Cancelar</button>
      </div>
    </div><br />
    <div class="row">
      <div class="d-flex justify-content-center"><button mat-button mat-dialog-close class="btn btn-danger" type="button" (click)="deleteAsociaciones(this.id || '')"><i class="bi bi-trash"></i> Eliminar Todos los OAs asociados al OA Actual</button></div>
    </div>
    </form>
</div>