.cuadrito-mapa {
    border: 2px solid #C4E0B2;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: #C4E0B2;
}

#loading {
    width: 100%;
    min-height: 100vh;
    background-color: #00000080;
    color:white;
    text-align: center;
    vertical-align: center;
    border-radius: 15px 15px 15px 15px;
  }

  #zonamapa {
    width: 8000px;
    height: 5500px;
    background-image: url("../../assets/Recurso2.svg");
    background-repeat: no-repeat;
    /*background-size: 100%;*/
    background-size: cover;
    overflow: hidden;
    padding: 0;
    padding-top: 400px;
  }