.cuadrito-mapa {
    border: 2px solid #C4E0B2;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: #C4E0B2;
}

#loading {
    width: 100%;
    min-height: 100vh;
    background-color: #00000080;
    color:white;
    text-align: center;
    vertical-align: center;
    border-radius: 15px 15px 15px 15px;
  }

  #zonamapa {
    width: 8000px;
    height: 5500px;
    /*background-image: url("../../../../assets/Recurso2.svg");*/
    background-repeat: no-repeat;
    /*background-size: 100%;*/
    background-size: cover;
    overflow: hidden;
    padding: 0;
    padding-top: 400px;
    position: fixed;
  }

  .textoOa {
    position: absolute;
    text-align: left;
    font-size: 30px;
    white-space: pre-line;
  }

  .editarTextoOaContainerBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0000009a;
  }

  .editarTextoOaContainer {
    position: absolute;
    width: 40%;
    height: 40%;
    top:20%;
    left: 31%;
    text-align: center;
    background-color: white;
    border: 1px solid white;
    border-radius: 20px 20px 20px 20px;
  }

  .editarTextoOa {
    position: absolute;
    text-align: center;
    z-index: 1000;
    padding-left: 11%;
    padding-top: 2%;
  }